/* 404 */
/* ================================================== */
.error-container {
    text-align: center;
    max-width: 500px;
    padding: 2rem 2rem 0rem 2rem;
}

.error-container .error-code {
    font-size: 15rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -5px;
    text-transform: uppercase;

    /* Set the background image */
    background-image: url('../assets/images/404.wallpaper.jpg');
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.error-container .error-message {
    color: var(--bs-secondary);
    font-size: 1.1rem;
    margin-bottom: 3rem;
    line-height: 1.6;
}