.sidebar .nav .nav-link {
    color: var(--bs-body-color);
}

.sidebar .nav .nav-link.active{
    color: white !important;
}

.sidebar .nav .nav-link:hover {
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
}

@media (min-width: 992px) {
    .mobile-offcanvas {
        display: none !important;
    }

    .offcanvas-backdrop {
        display: none !important;
    }
}