/* Imported Styles */
/* ======================================= */

/* Main */
@import url(./styles/Dark.style.css);
@import url(./styles/Layout.style.css);
@import url(./styles/Scrollbar.style.css);
@import url(./styles/Bootstrap.style.css);


/* Pages */
@import url(./styles/NoFound.style.css);
@import url(./styles/Loading.style.css);
@import url(./styles/NoInternet.style.css);
@import url(./styles/Landing.style.css);

/* Components */
@import url(./styles/DatePicker.style.css);
@import url(./styles/Sidebar.style.css);


/* Custom Styles */
/* ======================================= */
@font-face {
    font-family: 'SegoeUIVF';
    src: url(./assets/fonts/SegoeUIVF.ttf);
}

:root {
    --bs-input-bg: #adb5bd69;
    --bs-input-placeholder-color: #808080;
}

body {
    font-family: 'SegoeUIVF' !important;
    color: var(--bs-body-color) !important;
}

.auth-image {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.nowrap {
    text-wrap: nowrap !important;
}

.icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

/* Hover */
/* ================================================ */
.pointer {
    cursor: pointer;
}

.transition-hover {
    transition: transform 0.3s ease;
}

.transition-hover:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.transition-all {
    transition: all 0.2s ease-in-out;
}

.hover-bg:hover {
    background-color: var(--bs-tertiary-bg) !important;
    color: var(--bs-body-color);
}

.backdrop-blur {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
